<!-- post edit form partial -->

<%= form_with model: @post do |f| %>
	
	<div class="field py-2">
		<%= f.label :title, 'Title:' %><br>
		<%= f.text_field :title, :size =>"50", :maxlength=>"50", :class => "txtbox" %>
	</div>
	<div class="field py-2">
		<%= f.label :body, 'Content:'  %><br>
		<%= f.text_area :body, :cols =>"53", :class => 'txtbox' %>
	</div>	
	<div class="inline-flex">
		<%= button_tag(type: 'submit', class: "btn-blue-hov") do %>
		 	Update Post
		<% end %>
		<%= link_to "Cancel", post_path(@post),
		:class => 'btn-blue-hov',
		data: {confirm: "Are you sure"} %>
	</div>
	
<% end %>
