<!-- post preview card -->

<div class="flex flex-wrap break-words w-full  lg:w-1/3 xl:w-1/5 p-3 h-1/5">
	<div class="flex-1 flex-col pb-4 mb-6 bg-white  shadow-lg hover:shadow-2xl">
		<a href=<%= post_path(post)%> class="flex-shrink-0"> 
			<%= image_tag("blogpic.png", :class => "object-fill w-full ") %> 
		</a>
		<div class="flex items-center justify-between px-4 py-2 overflow-hidden">
			<span class=""> 
			</span>
			<div class="flex flex-row items-center">
				<div class="flex flex-row items-center lg-gray-text lg:text-sm mr-2">
					<i class="far fa-eye mr-2"></i>
					<span>1.5k</span>
				</div>
				<a href= <%= post_path(post)%> class="flex flex-row items-center lg-gray-text lg:text-sm mx-2"> 
					<i class="far fa-comments mr-2"></i> 
					<span><%= post.comments.count %></span>
				</a>
				<div class="flex flex-row items-center lg-gray-text lg:text-sm ml-2">
					<%=link_to like_post_path(post), :class => "like-btn", method: :put, remote: true do %>
						<i class="far fa-thumbs-up mr-2"></i>
					<% end %>
					<span class="likes-count" id="post-<%= post.id %>-likes" >
						<%= post.get_upvotes.size %>
					</span>
				</div>
			</div>
		</div>
		<hr>
		<div class="px-4 py-1 mx-auto">
			<a href=<%= post_path(post)%> class="hover:underline"> 
				<h2 class="flex-1 overflow-hidden text-xl text-left font-bold tracking-normal text-gray-800">
					<%= post.title %> 
				</h2>				
			</a>
		</div>
		<hr>
		<p class=" break-words px-4 py-2 leading-tight  text-sm text-justify text-gray-700">
			<%= truncate( post.body, :length => 350, :omission => '... (continued)') %>
		</p>
		<hr>
		<section class="px-4 py-2 mt-2">
			<div class="flex ms-center justify-between">
				<div class="flex items-center flex-1">
					<%= image_tag("logo.png", :size => '30x30') %>
					<div class="flex flex-col mx-2">
						<a class="font-semibold text-gray-700 txt-bold underline"> 
							<%= post.user.name %> 
						</a>
						<span class="mx-1 text-xs text-gray-600"> 
							<%= post.created_at.strftime("%Y-%m-%d") %> 
						</span>
					</div>
				</div>
				<p class="mt-1 text-xs text-gray-600">
					<%= post.user.bio %>
				</p>
			</div>
		</section>
	</div>
</div>

