<!-- add comment form partial -->

<h3>Add Comment</h3>

<%= form_for([@post, @post.comments.build]) do |f| %>
	
	<!--
	<div class="field py-2">
		<%= f.label :title, 'Name:' %><br>
		<%= f.text_field :title, :size =>"50", :maxlength=>"50", :class => "border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
	</div>
	-->
	
	<div class="field py-2">
		<%= f.text_area :body, :cols =>"53", :class => 'border rounded  py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
	</div>	
	<div>
		<%= f.submit :class =>'btn btn-blue' %>
	</div>
	
	
<%end%>


