<!-- add comment form partial -->
<div class="text-3xl lg:text-lg my-5">
	<h3>Add Comment</h3>
</div>

<%= form_for([@post, @post.comments.build]) do |f| %>
	
	<!--
	<div class="field py-2">
		<%= f.label :title, 'Name:' %><br>
		<%= f.text_field :title, :size =>"50", :maxlength=>"50", :class => "txtbox" %>
	</div>
	-->
	
	<div class="field py-2">
		<%= f.text_area :body, :cols =>"53", :class => 'txtbox text-3xl lg:text-sm h-20 lg:h-10' %>
	</div>	
	<div>
		<%= f.submit :class =>'btn btn-blue text-5xl lg:text-lg lg:ml-2' %>
	</div>
	
	
<%end%>


