<!-- New Post Page -->

<h1><%= @title %></h1> <!--Header-->



<%= form_with model: @post do |f| %>
	
		
	<div class="field py-2">
		<%= f.label :title, 'Title:' %><br>
		<%= f.text_field :title, :size =>"50", :maxlength=>"50", :class => "border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
	</div>
	<div class="field py-2">
		<%= f.label :body, 'Content:'  %><br>
		<%= f.text_area :body, :cols =>"53", :class => 'border rounded  py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
	</div>	
	<div class="inline-flex">
		<!--<%= f.submit 'Update Post', :class =>'btn btn-blue' %>
		-->
		<%= button_tag(type: 'submit', class: "btn btn-blue") do %>
		 	Create Post
		<% end %>
		<%= button_to "Cancel", 'home',
		:class => 'btn btn-blue',
		data: {confirm: "Are you sure"} %>
		
	</div>
	
<% end %>