<!-- New Post Page -->

<h1><%= @title %></h1> <!--Header-->



<%= form_with model: @post do |f| %>
	
		
	<div class="field py-2">
		<%= f.label :title, 'Title:' %><br>
		<%= f.text_field :title, :size =>"50", :maxlength=>"50", :class => "txtbox" %>
	</div>
	<div class="field py-2">
		<%= f.label :body, 'Content:'  %><br>
		<%= f.text_area :body, :cols =>"53", :class => 'txtbox' %>
	</div>	
	<div class="inline-flex">
		<!--<%= f.submit 'Update Post', :class =>'btn btn-blue' %>
		-->
		<%= button_tag(type: 'submit', class: "btn btn-blue text-5xl lg:text-lg lg:ml-2") do %>
		 	Create Post
		<% end %>
		<%= link_to "Cancel", '/home',:class => 'btn btn-blue text-5xl lg:text-lg lg:ml-2',	data: {confirm: "Discard Changes?"} %>
		
	</div>
	
<% end %>