<!-- Post Page -->

<div class="flex-shrink-0 items-center">
	<%= image_tag("blogpic.png", :class => "object-full w-1/2 rounded-lg rounded-b-none ") %>
</div> 

<div class='text-xl text-left font-bold text-gray-100 m-6'>
	<%= @post.title %>
</div>

<div class='flex flex-wrap h=full pb-4 mb-6 bg-gray-800 rounded-lg'>
	<%= @post.body %>
</div>

<div class="inline-flex">
	<%= link_to "Edit", edit_post_path(@post), :class => 'btn-blue-hov' %>
	<%= link_to "Remove", post_path(@post),
		method: :delete,
		:class => 'btn-blue-hov',
		data: {confirm: "Are you sure"} %>
	<%= link_to "Home", '/home', :class => 'btn-blue-hov'%>	
	
</div>

<div>
	<%= render 'comments/comment' %>
	<%= render 'comments/form' %>
</div>
