<!--Global HTML-->

<!DOCTYPE html>
<html>
	<!--<meta name="turbolinks-cache-control" content="no-cache">-->
	
	<head>
		<title>Tailwind Blog</title>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
		<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
		
		<%= render 'components/navbarthree'%>
		
		<div class="mt-40 lg:mt-20 justify>
			<% if notice %>
				<p class="alert alert-success">
					<%= notice %>
				</p>
			<% end %>
			<% if alert %>
				<p class="alert alert-danger">
					<%= alert %>
				</p>
			<% end %>
		</div>
		<div class="mt-10">
			<%= yield %>
		</div>
	</body>
</html>
